body
{
  background-image: url("chickenbiryani (2).jpg");
    background-repeat: no-repeat;
    background-size:2100px 1900px;
background-position:left;


}
h1
{

  color:#ff5050;

}
p
{
  letter-spacing: 2px;
    line-height: 1.6;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-weight:bolder;
  text-shadow: 2px 2px 5px white;

}
